.poetry/
images/
notebooks/.ipynb_checkpoints/
.coverage

# Files that may contain sensitive information
.env

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Generic
*~

